
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #050510;
  color: white;
}

.btn {
  @apply px-4 py-2 rounded-xl bg-neon text-black font-semibold hover:scale-105 transition;
}
